@model Lista7.Estudiante



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
};

@using (Html.BeginForm())
{
<br />
@Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.EstudianteNombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EstudianteNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EstudianteNombre, "", new { @class = "text-danger" }) 
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EstudianteGenero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EstudianteGenero", (IEnumerable<SelectListItem>)ViewData["Genero"], "Selecione genero", new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.EstudianteGenero, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear"lass="btn btn-default" />
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>